In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df1 = pd.read_csv('event_type.csv')
df2 = pd.read_csv('log_feature.csv')
df3 = pd.read_csv('resource_type.csv')
df4 = pd.read_csv('severity_type.csv')
df5=pd.read_csv('train.csv')

In [3]:
dfs = [df1, df2, df3,df4,df5]
df = reduce(lambda left,right: pd.merge(left,right,on='id'), dfs)

In [4]:
df2.head()

     id  log_feature  volume
0  6597   feature 68       6
1  8011   feature 68       7
2  2597   feature 68       1
3  5022  feature 172       2
4  5022   feature 56       1

In [5]:
df2.shape

(58671, 3)

In [6]:
#df2_tp= df2.pivot(index= 'id', columns='log_feature', values='volume')

In [7]:
#df2_tp.head()

In [6]:
df.sort('id',inplace=True)

C:\Users\phong\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [7]:
df.head(10)

,id,event_type,log_feature,volume,resource_type,severity_type,location,fault_severity
34845,1,event_type 11,feature 68,2,resource_type 8,severity_type 1,location 601,1
34846,1,event_type 11,feature 68,2,resource_type 6,severity_type 1,location 601,1
34847,1,event_type 11,feature 345,2,resource_type 8,severity_type 1,location 601,1
34848,1,event_type 11,feature 345,2,resource_type 6,severity_type 1,location 601,1
34849,1,event_type 11,feature 179,1,resource_type 8,severity_type 1,location 601,1
34850,1,event_type 11,feature 179,1,resource_type 6,severity_type 1,location 601,1
34851,1,event_type 13,feature 68,2,resource_type 8,severity_type 1,location 601,1
34852,1,event_type 13,feature 68,2,resource_type 6,severity_type 1,location 601,1
34853,1,event_type 13,feature 345,2,resource_type 8,severity_type 1,location 601,1
34854,1,event_type 13,feature 345,2,resource_type 6,severity_type 1,location 601,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61839 entries, 34845 to 7919
Data columns (total 8 columns):
id                61839 non-null int64
event_type        61839 non-null object
log_feature       61839 non-null object
volume            61839 non-null int64
resource_type     61839 non-null object
severity_type     61839 non-null object
location          61839 non-null object
fault_severity    61839 non-null int64
dtypes: int64(3), object(5)
memory usage: 4.2+ MB

In [8]:
len(df.id.unique()), len(df.location.unique())

(7381, 929)

In [9]:
df.sort('location',inplace=True)

C:\Users\phong\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [10]:
df.head()

,id,event_type,log_feature,volume,resource_type,severity_type,location,fault_severity
68,1247,event_type 15,feature 82,2,resource_type 8,severity_type 1,location 1,0
140,1235,event_type 11,feature 82,12,resource_type 8,severity_type 1,location 1,1
141,1235,event_type 11,feature 80,2,resource_type 8,severity_type 1,location 1,1
145,1235,event_type 15,feature 80,2,resource_type 8,severity_type 1,location 1,1
146,1235,event_type 15,feature 203,5,resource_type 8,severity_type 1,location 1,1

In [11]:
df['event_type'] = df['event_type'].map(lambda x: x.lstrip('event_type').rstrip()).astype(int)
df['log_feature'] = df['log_feature'].map(lambda x: x.lstrip('feature ').rstrip()).astype(int)
df['resource_type'] = df['resource_type'].map(lambda x: x.lstrip('resource_type').rstrip()).astype(int)
df['severity_type'] = df['severity_type'].map(lambda x: x.lstrip('severity_type').rstrip()).astype(int)
df['location'] = df['location'].map(lambda x: x.lstrip('location').rstrip()).astype(int)

In [12]:
df.head(20)

,id,event_type,log_feature,volume,resource_type,severity_type,location,fault_severity
68,1247,15,82,2,8,1,1,0
140,1235,11,82,12,8,1,1,1
141,1235,11,80,2,8,1,1,1
145,1235,15,80,2,8,1,1,1
146,1235,15,203,5,8,1,1,1
147,1235,15,201,1,8,1,1,1
144,1235,15,82,12,8,1,1,1
143,1235,11,201,1,8,1,1,1
71,1247,15,56,1,8,1,1,0
74,1247,11,201,1,8,1,1,0
69,1247,15,80,3,8,1,1,0
73,1247,11,80,3,8,1,1,0
75,1247,11,56,1,8,1,1,0
72,1247,11,82,2,8,1,1,0
70,1247,15,201,1,8,1,1,0
88,17595,15,111,1,8,1,1,2
89,17595,15,80,5,8,1,1,2
28,5337,11,71,10,8,1,1,0
27,5337,11,80,2,8,1,1,0
26,5337,11,193,11,8,1,1,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61839 entries, 68 to 61831
Data columns (total 8 columns):
id                61839 non-null int64
event_type        61839 non-null int32
log_feature       61839 non-null int32
volume            61839 non-null int64
resource_type     61839 non-null int32
severity_type     61839 non-null int32
location          61839 non-null int32
fault_severity    61839 non-null int64
dtypes: int32(5), int64(3)
memory usage: 3.1 MB

In [14]:
id_dummies=pd.get_dummies(df.id,prefix="id",drop_first=True)
df=pd.merge(df,id_dummies,left_index=True, right_index=True)

In [15]:
event_type_dummies=pd.get_dummies(df.event_type,prefix="E",drop_first=True)
df=pd.merge(df,event_type_dummies,left_index=True, right_index=True)

In [16]:
log_feature_dummies=pd.get_dummies(df.log_feature,prefix="F",drop_first=True)
df=pd.merge(df,log_feature_dummies,left_index=True, right_index=True)

In [17]:
volume_dummies=pd.get_dummies(df.volume,prefix="V",drop_first=True)
df=pd.merge(df,volume_dummies,left_index=True, right_index=True)

In [18]:
resource_type_dummies=pd.get_dummies(df.resource_type,prefix="R",drop_first=True)
df=pd.merge(df,resource_type_dummies,left_index=True, right_index=True)

In [19]:
severity_type_dummies=pd.get_dummies(df.severity_type,prefix="S",drop_first=True)
df=pd.merge(df,severity_type_dummies,left_index=True, right_index=True)

In [20]:
location_dummies=pd.get_dummies(df.location,prefix="L",drop_first=True)
df=pd.merge(df,location_dummies,left_index=True, right_index=True)

In [21]:
df.head()

,id,event_type,log_feature,volume,resource_type,severity_type,location,fault_severity,id_5,id_6,...,L_1115,L_1116,L_1117,L_1118,L_1119,L_1120,L_1121,L_1122,L_1125,L_1126
68,1247,15,82,2,8,1,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140,1235,11,82,12,8,1,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
141,1235,11,80,2,8,1,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
145,1235,15,80,2,8,1,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146,1235,15,203,5,8,1,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df.shape

(61839, 8960)

In [23]:
df1 = df.drop(['id','event_type','log_feature','resource_type','severity_type','volume'],axis=1)

In [24]:
df1.head()

,location,fault_severity,id_5,id_6,id_8,id_13,id_19,id_20,id_23,id_24,...,L_1115,L_1116,L_1117,L_1118,L_1119,L_1120,L_1121,L_1122,L_1125,L_1126
68,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
141,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
145,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df1.set_index('location', inplace=True)

In [26]:
df1.head()

,fault_severity,id_5,id_6,id_8,id_13,id_19,id_20,id_23,id_24,id_26,...,L_1115,L_1116,L_1117,L_1118,L_1119,L_1120,L_1121,L_1122,L_1125,L_1126
location,,,,,,,,,,,,,,,,,,,,,
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
features = [x for x in df1.columns if x not in ['fault_severity']]

In [28]:
y = df1['fault_severity']

X = df1[features]

In [29]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [30]:
from sklearn.ensemble import GradientBoostingClassifier 
from sklearn import cross_validation, metrics   #Additional scklearn functions
from sklearn.grid_search import GridSearchCV

In [31]:
clf_gb00=GradientBoostingClassifier(max_depth=8,max_features='sqrt',subsample=0.8, random_state=10)

In [32]:
para_test1={'n_estimators': [100,250,500 ],'max_features': [ 'sqrt', 'log2'],'learning_rate':[0.05,0.1,0.2]}

In [33]:
gsearch1 = GridSearchCV(estimator=clf_gb00, param_grid=para_test1, cv= 5,n_jobs=-1)

In [35]:
gsearch.fit(X_train,y_train)

In [36]:
cv_score = cross_validation.cross_val_score(clf_gb00, X_train, y_train, cv=5)

In [37]:
np.mean(cv_score),np.std(cv_score),np.min(cv_score),np.max(cv_score)

(0.82725229218498308,
 0.0032679181198390786,
 0.8214069132807762,
 0.83070547806751571)

In [39]:
metrics.accuracy_score(y_test, predict)

0.83150064683053038

In [36]:
from sklearn.ensemble import RandomForestClassifier

In [37]:
clf_rdf00=RandomForestClassifier( n_jobs=-1, oob_score = True)

In [38]:
para_test2={'n_estimators': [50,100,200],'max_features': [ 'sqrt', 'log2']}

In [41]:
gsearch2 = GridSearchCV(estimator=clf_rdf00, param_grid=para_test2, cv= 5)

In [42]:
gsearch2.fit(X_train,y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=True, random_state=None, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': [50, 100, 200], 'max_features': ['sqrt', 'log2']},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [43]:
gsearch2.grid_scores_, gsearch2.best_params_, gsearch2.best_score_

([mean: 0.90696, std: 0.00381, params: {'max_features': 'sqrt', 'n_estimators': 50},
  mean: 0.91306, std: 0.00141, params: {'max_features': 'sqrt', 'n_estimators': 100},
  mean: 0.91284, std: 0.00212, params: {'max_features': 'sqrt', 'n_estimators': 200},
  mean: 0.92751, std: 0.00211, params: {'max_features': 'log2', 'n_estimators': 50},
  mean: 0.92996, std: 0.00133, params: {'max_features': 'log2', 'n_estimators': 100},
  mean: 0.93222, std: 0.00183, params: {'max_features': 'log2', 'n_estimators': 200}],
 {'max_features': 'log2', 'n_estimators': 200},
 0.93222291847749184)

In [46]:
Best_param_predict=gsearch2.best_estimator_.predict(X_test)

In [55]:
Probability=gsearch2.best_estimator_.predict_proba(X_test)

In [47]:
metrics.accuracy_score(Best_param_predict,y_test)

0.94671733505821476

In [48]:
outcome=pd.Series.to_frame(y_test)

In [49]:
outcome.reset_index(level=0, inplace=True)

In [50]:
outcome.head()

   location  fault_severity
0       495               0
1       897               1
2       984               1
3        79               1
4       460               1

In [58]:
prediction=pd.DataFrame(Best_param_predict,columns=['prediction'])

In [59]:
prediction.head()

   prediction
0           0
1           1
2           1
3           1
4           1

In [60]:
probability=pd.DataFrame(Probability,columns=['Prob_type0','Prob_type1','Prob_type2'])

In [65]:
probability.head()

   Prob_type0  Prob_type1  Prob_type2
0       0.985       0.015       0.000
1       0.115       0.770       0.115
2       0.100       0.705       0.195
3       0.025       0.975       0.000
4       0.220       0.780       0.000

In [61]:
result=pd.concat([outcome,prediction,probability],axis=1, join='inner')

In [62]:
result.set_index('location', inplace=True)

In [66]:
result.head(20)

          fault_severity  prediction  Prob_type0  Prob_type1  Prob_type2
location
495                    0           0       0.985       0.015       0.000
897                    1           1       0.115       0.770       0.115
984                    1           1       0.100       0.705       0.195
79                     1           1       0.025       0.975       0.000
460                    1           1       0.220       0.780       0.000
909                    2           2       0.145       0.230       0.625
808                    0           0       0.925       0.060       0.015
1026                   0           0       0.760       0.200       0.040
478                    0           0       1.000       0.000       0.000
504                    0           0       0.940       0.060       0.000
496                    0           0       0.990       0.010       0.000
505                    0           0       0.970       0.030       0.000
466                    0           0       0.985       0.015       0.000
532                    1           1       0.100       0.900       0.000
276                    0           0       0.895       0.105       0.000
745                    2           2       0.055       0.025       0.920
613                    1           1       0.130       0.795       0.075
498                    0           0       0.970       0.030       0.000
653                    2           2       0.200       0.210       0.590
371                    1           1       0.405       0.595       0.000